Repository ppcavalcante/flow-orchestrator: changes, and which Codecov flags are due for each by the changed paths.
All: critical, high, medium

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

      # Enforce per-flag coverage (must be a list)
      critical:
        flags: 
          - critical
        target: 90%
      high:
        flags:
          - high
        target: 90%
      medium:
        flags:
          - medium
        target: 70%

flags:
  critical:
    paths:
      - pkg/workflow/
    carryforward: true

  high:
    paths:
      - internal/workflow/arena/
      - internal/workflow/memory/
    carryforward: true

  medium:
    paths:
      - internal/workflow/metrics/
      - internal/workflow/utils/
      - internal/workflow/concurrent/
    carryforward: true

docs: comprehensive documentation restructuring for open source readiness
  CHANGELOG.md
  README.md
  docs/README.md
  docs/api_reference.md
  docs/architecture/README.md
  docs/architecture/adr/README.md
  docs/architecture/component-workflow.md
  docs/architecture/dag-execution.md
  docs/architecture/overview.md
  docs/architecture_overview.md
  docs/benchmark_analysis.md
  docs/component_workflow_engine.md
  docs/dag_execution_model.md
  docs/development/README.md
  docs/development/contributing.md
  docs/development/release-process.md
  docs/development/supply_chain_security.md
  docs/development/test_coverage_strategy.md
  docs/development/troubleshooting.md
  docs/getting-started/README.md
  docs/getting-started/basic-concepts.md
  docs/getting-started/first-workflow.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/guides/README.md
  docs/guides/benchmarks.md
  docs/guides/error-handling.md
  docs/guides/middleware.md
  docs/guides/performance-optimization.md
  docs/guides/persistence.md
  docs/guides/workflow-patterns.md
  docs/memory_and_concurrency.md
  docs/middleware_system.md
  docs/persistence_layer.md
  docs/reference/README.md
  docs/reference/api-reference.md
  docs/reference/configuration.md
  docs/reference/examples.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update .golangci.yml
  .golangci.yml
Due: none

Update documentation for v0.1.1-alpha release
  CHANGELOG.md
  README.md
  docs/getting-started/first-workflow.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
Due: none

fix: resolve bugs and harden core components
  .gitignore
  .golangci.yml
  internal/workflow/arena/arena.go
  internal/workflow/benchmark/arena_benchmark_test.go
  internal/workflow/benchmark/benchmark_utils.go
  internal/workflow/benchmark/executor.go
  internal/workflow/benchmark/focused_benchmark_test.go
  internal/workflow/benchmark/memory_pool_benchmark_test.go
  internal/workflow/concurrent/concurrent_map.go
  internal/workflow/concurrent/concurrent_map_types.go
  internal/workflow/concurrent/lock_free_map.go
  internal/workflow/memory/buffer_pool.go
  internal/workflow/memory/node_pool.go
  internal/workflow/metrics/config.go
  internal/workflow/metrics/metrics.go
  internal/workflow/metrics/metrics_test.go
  internal/workflow/metrics/mutex.go
  internal/workflow/metrics/report.go
  internal/workflow/string_intern.go
  pkg/testutil/workflow.go
  pkg/workflow/action.go
  pkg/workflow/arena/arena.go
  pkg/workflow/builder.go
  pkg/workflow/concurrent_map.go
  pkg/workflow/dag.go
  pkg/workflow/metrics/metrics.go
  pkg/workflow/metrics/report.go
  pkg/workflow/middleware.go
  pkg/workflow/middleware_test.go
  pkg/workflow/parallel_execution.go
  pkg/workflow/utils/utils.go
  pkg/workflow/version.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_data.go
  pkg/workflow/workflow_data_test.go
  pkg/workflow/workflow_store.go
Due: critical, high, medium

docs: fix inaccuracies and align documentation with actual API
  README.md
  docs/README.md
  docs/development/README.md
  docs/getting-started/README.md
  docs/getting-started/first-workflow.md
  docs/getting-started/installation.md
  docs/guides/error-handling.md
  docs/guides/middleware.md
  docs/reference/api-reference.md
  docs/reference/configuration.md
Due: none

release: v0.7.1-alpha — fix int64 JSON fidelity + release workflow
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  docs/getting-started/README.md
  docs/getting-started/installation.md
  pkg/workflow/version.go
  pkg/workflow/workflow_data.go
  pkg/workflow/workflow_store.go
Due: critical

release: v0.7.2-alpha — clear coverage gate (prune dead code + cover public API)
  CHANGELOG.md
  README.md
  docs/getting-started/README.md
  docs/getting-started/installation.md
  pkg/workflow/concurrent_map.go
  pkg/workflow/concurrent_map_test.go
  pkg/workflow/coverage_gaps_test.go
  pkg/workflow/version.go
Due: critical

release: v0.7.3-alpha — dead-code prune + docs accuracy (no API change)
  CHANGELOG.md
  Makefile
  README.md
  STABILITY.md
  codecov.yml
  docs/architecture/overview.md
  docs/development/test_coverage_strategy.md
  docs/getting-started/README.md
  docs/getting-started/first-workflow.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/guides/performance-optimization.md
  internal/workflow/concurrent/concurrent_map.go
  internal/workflow/concurrent/concurrent_map_properties_test.go
  internal/workflow/concurrent/concurrent_map_test.go
  internal/workflow/concurrent/concurrent_map_types.go
  internal/workflow/concurrent/concurrent_map_types_test.go
  internal/workflow/concurrent/lock_free_map.go
  internal/workflow/concurrent/lock_free_map_properties_test.go
  internal/workflow/concurrent/lock_free_map_test.go
  internal/workflow/concurrent/simple_map.go
  pkg/workflow/version.go
  scripts/testing/README.md
  scripts/testing/check_coverage.sh
  scripts/testing/run_property_tests.sh
Due: critical, medium

release: v0.7.4-alpha — M8 Tier-1 "polish & honesty" (perf + correctness + DX)
  CHANGELOG.md
  README.md
  STABILITY.md
  docs/getting-started/README.md
  docs/getting-started/first-workflow.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/guides/persistence.md
  internal/workflow/metrics/config.go
  internal/workflow/metrics/config_test.go
  internal/workflow/metrics/metrics_test.go
  pkg/workflow/dag.go
  pkg/workflow/dag_test.go
  pkg/workflow/doc.go
  pkg/workflow/example_test.go
  pkg/workflow/execute_ctx_load_test.go
  pkg/workflow/version.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_data.go
  pkg/workflow/workflow_data_metrics_paths_test.go
  pkg/workflow/workflow_store.go
  pkg/workflow/workflow_store_alltypes_test.go
  pkg/workflow/workflow_store_jsonbounds_test.go
  pkg/workflow/workflow_test.go
  scripts/testing/check_coverage.sh
  scripts/testing/coverage_baselines.txt
Due: critical, medium

release: v0.9.0-alpha — M9 Durable Execution Core (crash-resume)
  CHANGELOG.md
  README.md
  STABILITY.md
  docs/architecture/component-workflow.md
  docs/architecture/dag-execution.md
  docs/architecture/overview.md
  docs/getting-started/README.md
  docs/getting-started/basic-concepts.md
  docs/getting-started/first-workflow.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/guides/persistence.md
  docs/reference/api-reference.md
  docs/reference/configuration.md
  pkg/workflow/dag.go
  pkg/workflow/durable_fidelity_test.go
  pkg/workflow/durable_resume_test.go
  pkg/workflow/idempotency.go
  pkg/workflow/idempotency_test.go
  pkg/workflow/parallel_execution.go
  pkg/workflow/version.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_store.go
  pkg/workflow/workflow_store_atomic_test.go
  scripts/testing/coverage_baselines.txt
  specs/DurableExecutor.cfg
  specs/DurableExecutor.tla
  specs/DurableExecutorClean.cfg
  specs/DurableExecutorHardFail.cfg
  specs/MCDurableExecutor.tla
  specs/README.md
Due: critical

fix(ci): lower arena coverage baseline 100.0 -> 99.3 to match anvil-m1
  scripts/testing/coverage_baselines.txt
Due: none

fix(ci): det-tax ceiling + -race skip + blocking non-race gate (v0.13.0-alpha CI red)
  .github/workflows/ci.yml
  pkg/workflow/perf_ceiling_test.go
  pkg/workflow/race_off_test.go
  pkg/workflow/race_on_test.go
Due: critical

fix(ci): gate det-tax alloc budget to Go 1.25+ (cross-toolchain baseline drift)
  pkg/workflow/go125_off_test.go
  pkg/workflow/go125_on_test.go
  pkg/workflow/perf_ceiling_test.go
Due: critical

fix(release): green the v0.14.0-alpha CI — nested example tidy + M15 coverage floor
  examples/observability/go.mod
  examples/observability/go.sum
  pkg/workflow/workflow_store_sqlite_coverage_test.go
  scripts/testing/coverage_baselines.txt
Due: critical

release: v0.15.0-alpha — M16 Multi-Process Safety (SQLite competing consumers)
  CHANGELOG.md
  README.md
  docs/architecture/adr/0014-decomposed-sqlite-store.md
  docs/architecture/adr/0015-multi-process-safety-leases-fencing.md
  docs/architecture/adr/README.md
  docs/getting-started/README.md
  docs/getting-started/first-workflow.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/guides/persistence.md
  docs/reference/api-reference.md
  pkg/workflow/claim_locker.go
  pkg/workflow/claim_locker_test.go
  pkg/workflow/faultdriver_test.go
  pkg/workflow/version.go
  pkg/workflow/workflow_store_sqlite.go
  pkg/workflow/workflow_store_sqlite_bench_test.go
  pkg/workflow/workflow_store_sqlite_busy_test.go
  pkg/workflow/workflow_store_sqlite_claim_test.go
  pkg/workflow/workflow_store_sqlite_corrupt_test.go
  pkg/workflow/workflow_store_sqlite_delta.go
  pkg/workflow/workflow_store_sqlite_durability.go
  pkg/workflow/workflow_store_sqlite_fault_test.go
  pkg/workflow/workflow_store_sqlite_incremental.go
  pkg/workflow/workflow_store_sqlite_lease.go
  pkg/workflow/workflow_store_sqlite_lease_test.go
  pkg/workflow/workflow_store_sqlite_mp_2proc_test.go
  pkg/workflow/workflow_store_sqlite_mp_execute_2proc_test.go
  specs/MPFencing.cfg
  specs/MPFencing.tla
  specs/MPFencingBreak.cfg
  specs/run_mp_fencing.sh
Due: critical

release: v0.16.0-alpha — M17 Work Dispatch (competing consumers → a zero-infra job queue)
  CHANGELOG.md
  README.md
  docs/architecture/adr/0016-work-dispatch-queue-registry-pool.md
  docs/architecture/adr/README.md
  docs/getting-started/README.md
  docs/getting-started/first-workflow.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/guides/dispatch.md
  docs/guides/persistence.md
  docs/reference/api-reference.md
  pkg/workflow/version.go
  pkg/workflow/workflow_dispatch.go
  pkg/workflow/workflow_dispatch_test.go
  pkg/workflow/workflow_killstorm_2proc_test.go
  pkg/workflow/workflow_pool.go
  pkg/workflow/workflow_pool_adversarial_test.go
  pkg/workflow/workflow_pool_test.go
  pkg/workflow/workflow_store_sqlite.go
  pkg/workflow/workflow_store_sqlite_lease.go
  pkg/workflow/workflow_store_sqlite_workqueue.go
  pkg/workflow/workflow_store_sqlite_workqueue_test.go
  specs/WorkQueue.cfg
  specs/WorkQueue.tla
  specs/WorkQueueBreakC2.cfg
  specs/WorkQueueBreakF1.cfg
  specs/WorkQueueBreakLostWork.cfg
  specs/WorkQueueBreakWriter.cfg
Due: critical

release: v0.17.0-alpha — M18 Operability (observability read-model + dispatch metrics + cancel-of-running)
  CHANGELOG.md
  README.md
  docs/architecture/adr/0017-cancel-of-running-workflow.md
  docs/architecture/adr/README.md
  docs/getting-started/README.md
  docs/getting-started/first-workflow.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/guides/dispatch.md
  docs/guides/observability.md
  docs/reference/api-reference.md
  pkg/workflow/version.go
  pkg/workflow/workflow_cancel_2proc_test.go
  pkg/workflow/workflow_dispatch.go
  pkg/workflow/workflow_store_sqlite.go
  pkg/workflow/workflow_store_sqlite_cancel_test.go
  pkg/workflow/workflow_store_sqlite_durability.go
  pkg/workflow/workflow_store_sqlite_metrics.go
  pkg/workflow/workflow_store_sqlite_metrics_otel.go
  pkg/workflow/workflow_store_sqlite_metrics_otel_test.go
  pkg/workflow/workflow_store_sqlite_metrics_test.go
  pkg/workflow/workflow_store_sqlite_observability.go
  pkg/workflow/workflow_store_sqlite_observability_test.go
  pkg/workflow/workflow_store_sqlite_snapshot.go
  pkg/workflow/workflow_store_sqlite_snapshot_test.go
  pkg/workflow/workflow_store_sqlite_workqueue.go
  specs/WorkQueue.cfg
  specs/WorkQueue.tla
  specs/WorkQueueBreakC2.cfg
  specs/WorkQueueBreakCancel.cfg
  specs/WorkQueueBreakF1.cfg
  specs/WorkQueueBreakLostWork.cfg
  specs/WorkQueueBreakWriter.cfg
Due: critical

test(m19): earn-back coverage + honest re-baseline pkg/workflow 91.5->90.0
  pkg/workflow/signal_store_earnback_test.go
  scripts/testing/coverage_baselines.txt
Due: critical

test(m20): earn-back pkg/workflow coverage to 90.5% — 6 biting tests, zero production change
  pkg/workflow/schedule_ctor_test.go
Due: critical

test(m20): earn-back round 2 — pkg/workflow to 90.9% local (~90.3 amd64 projected)
  pkg/workflow/schedule_edges_test.go
Due: critical

fix(m20): errcheck //nolint on 2 test cleanup Close calls (schedule_edges_test.go)
  pkg/workflow/schedule_edges_test.go
Due: critical

release: v0.20.0-alpha — M21 Dynamic Fan-out
  CHANGELOG.md
  README.md
  docs/architecture/adr/0020-dynamic-fan-out.md
  docs/architecture/adr/README.md
  docs/getting-started/README.md
  docs/getting-started/first-workflow.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/guides/README.md
  docs/guides/fanout.md
  docs/reference/api-reference.md
  pkg/workflow/checkpoint.go
  pkg/workflow/dag.go
  pkg/workflow/fanout.go
  pkg/workflow/fanout_builder_test.go
  pkg/workflow/fanout_collectpartial_test.go
  pkg/workflow/fanout_kill_2proc_test.go
  pkg/workflow/fanout_property_test.go
  pkg/workflow/fanout_test.go
  pkg/workflow/version.go
  specs/M21FanOut.cfg
  specs/M21FanOut.tla
  specs/M21FanOutBreak.cfg
  specs/run_m21_fanout.sh
Due: critical

fix(m21): parseable fan-out guide code fences — doctest gate (release tail)
  docs/guides/fanout.md
Due: none

fix(m21): gate withMaxConcurrency ctx-wrap on hasFanOut — det-tax moat 0-diff (release tail)
  pkg/workflow/dag.go
Due: critical

test(m21): coverage earn-back — fan-out guard/error paths + LOW-M21-01 journal-tamper bite (release tail)
  coverage-focused.txt
  pkg/workflow/fanout_earnback_test.go
Due: critical

release: v0.21.0-alpha (M22 — Production Hardening)
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  README.md
  docs/architecture/adr/0020-dynamic-fan-out.md
  docs/getting-started/README.md
  docs/getting-started/first-workflow.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/guides/dispatch.md
  docs/guides/fanout.md
  docs/guides/persistence.md
  docs/guides/sub-workflows.md
  docs/guides/workflow-patterns.md
  docs/reference/api-reference.md
  pkg/workflow/action.go
  pkg/workflow/builder.go
  pkg/workflow/error_papercuts_test.go
  pkg/workflow/fanout.go
  pkg/workflow/fanout_retry_test.go
  pkg/workflow/fanout_sc3_pooldrive_adversarial_test.go
  pkg/workflow/reconvergence.go
  pkg/workflow/signal_timeout.go
  pkg/workflow/signal_timeout_test.go
  pkg/workflow/version.go
  pkg/workflow/workqueue_parked_discharge_test.go
Due: critical

release: v0.22.1-alpha — det-tax gate root-cause fix
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  docs/getting-started/README.md
  docs/getting-started/first-workflow.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  pkg/workflow/dag.go
  pkg/workflow/det_tax_gc_independence_test.go
  pkg/workflow/perf_ceiling_test.go
  pkg/workflow/version.go
Due: critical

release: v0.22.2-alpha — memory coverage-gate fix (M23 erosion)
  CHANGELOG.md
  README.md
  docs/getting-started/README.md
  docs/getting-started/first-workflow.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  internal/workflow/memory/buffer_pool_grow_test.go
  pkg/workflow/version.go
  scripts/testing/coverage_baselines.txt
Due: critical, high
